<div id="<%= dom_id feature %>">
  <p>
    <strong>Short title:</strong>
    <%= feature.short_title %>
  </p>

  <p>
    <strong>What to expect:</strong>
    <%= feature.what_to_expect %>
  </p>

  <p>
    <strong>About:</strong>
    <%= feature.about %>
  </p>

</div>
